# Local Composer PHAR (installed for local dev/testing)
composer.phar

# PHPUnit cache result
.phpunit.result.cache

# Node / build
node_modules/
dist/
assets/dist/

# Composer
vendor/

# OS / editor
.DS_Store
*.log

# Docker
docker/mysql/
docker/redis/
