# PHPStan Configuration for Affiliate Product Showcase

parameters:
    level: 5
    paths:
        - includes
        - tests
    excludePaths:
        - vendor
        - node_modules
        - assets/dist
        - build
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
