<?xml version="1.0"?>
<psalm
    errorLevel="4"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    cacheDirectory=".psalm/cache"
>
    <projectFiles>
        <directory name="src" />
        <directory name="tests" />
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="node_modules" />
            <directory name="build" />
            <directory name="dist" />
            <directory name="assets/dist" />
            <directory name="src_backup_*" />
            <directory name="tests/fixtures" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <UndefinedClass>
            <errorLevel type="suppress">
                <referencedClass name="WP_*" />
                <referencedClass name="wpdb" />
            </errorLevel>
        </UndefinedClass>
        <UndefinedFunction>
            <errorLevel type="suppress">
                <referencedFunction name="wp_*" />
                <referencedFunction name="add_action" />
                <referencedFunction name="add_filter" />
                <referencedFunction name="do_action" />
                <referencedFunction name="apply_filters" />
                <referencedFunction name="esc_*" />
            </errorLevel>
        </UndefinedFunction>
    </issueHandlers>

    <stubs>
        <file name="vendor/php-stubs/wordpress-stubs/wordpress-stubs.php" />
        <file name="vendor/php-stubs/wordpress-globals/wordpress-globals.php" />
    </stubs>

    <plugins>
        <pluginClass class="Psalm\WordPress\Plugin" />
    </plugins>

    <phpVersion>
        8.1
    </phpVersion>

    <memoizeMethodCallResults>
        <directory name="src" />
    </memoizeMethodCallResults>

    <findUnusedVariables>true</findUnusedVariables>
    <findUnusedCode>true</findUnusedCode>
    
    <phpstormXmlPath=".psalm/phpstorm.xml</phpstormXmlPath>
</psalm>
